
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    background-color: #fff;
    color: #000;
    text-rendering: optimizeLegibility;
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
}
.row{
    max-width: 1140px;
    margin: 0 auto;
}
h1{
    font-size: 500%;
    color: #fff;
    font-weight: 400;
    margin-bottom: 10px;
}
h2{
    font-size: 200%;
    font-weight: 400;
}
.clear-fix{
    zoom: 1;
}
.clear-fix::after{
    content: "";
    clear: both;
    display: table;
    visibility: hidden;
}
/*--------Header section----------*/
header{
    background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0 ,0 , 0.7)), url(../css/img/header-img.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}
.header-box{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.header-box-text{
    margin-bottom: 100px;
}
/* All buttons */
.btn{
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 200px;
    display: inline-block;
}
.btn:link,
.btn:visited,
input[type="submit"]{
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 200px;

}
.btn-full{
    background-color: #ed07b7;
    color: #fff;
}
.btn-full:link,
.btn-full:visited,
input[type="submit"]{
    background-color: #ed07b7;
    color: #fff;
    transition: 0.3s;
}
.btn-full:hover,
.btn-full:active,
input[type="submit"]:hover{
    background-color: 	#be0692;
}
.btn-ghost:link,
.btn-ghost:visited{
    border: 2px solid #ed07b7;
    color: #be0692;
    transition: 0.3s;
}
.btn-ghost:hover,
.btn-ghost:active{
    background-color: #ed07b7;
    color: #000;
}
/*--------Nav section----------*/
.main-nav{
    list-style: none;
    float: right;
    margin-top: 50px;
}
.main-nav li{
   display: inline-block;
}
.main-nav li a{
    text-decoration: none;
    margin-right: 40px;
    text-transform: uppercase;
    color: #fff;
    transition: .2s;
}
.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #be0692;
    padding-bottom: 15px;
}
.logo{
    height: 120px;
    width: auto;
    float: left;
}
.laptop-image{
    width: 80%;
}
/*--------About section----------*/
.about-heading{
    color: #000;
    font-size: 250%;
    font-weight: 500;
    margin-bottom: 60px;
}
.about-para{
    color: #555;
    margin-bottom: 50px
}
.about-box{
    margin-top: 120px;
}
.about-box:first-child{
    text-align: left;
    padding: 0 5%;
}
.about-box:last-child{
    text-align: right;
}
.about-section{
    padding-bottom: 20px;
}
/*--------Work section----------*/
.work-section{
    color: #000;
    font-size: 250%;
    margin-bottom: 20px;
    text-align: center;
    background-color: #f4f4f4;
    overflow: hidden;
}
.section-heading {
	font-size: 50px;
	margin-top: 50px;
}
.section-sub-heading {
	font-size: 29px;
	color: #555;
	font-weight: 300;
	margin-bottom: 50px;
	margin-top: 11px;
    line-height: 1.5;
}
.section-sub-heading::after{
    content: "";
    display: block;
    height: 2px;
    width: 100px;
    background-color: #ed07b7;
    margin: 30px auto 0 auto;
}
.work-protfolio{
    margin-top: 10px;
    width: 100%;
    list-style: none;
}
.work-protfolio li{
    display:block;
    width: 25%;
    float: left;
}
.protfolio-img{
    background-color: #000;
    overflow: hidden;
}
.protfolio-img img{
    width: 100%;
    opacity: 0.7;
    transform: scale(1.15);
    transition: 0.3s, opacity 0.5s;
}

.protfolio-img img:hover{
    transform: scale(1);
}
.work-para{
    color: #fff;
}
/*--------services section----------*/
.services-section {
	text-align: center;
	background-color: #f4f4f4;
	overflow: hidden;
	padding: 60px 0;
}
.big-icon{
    font-size: 250%;
    display: block;
    margin-bottom: 30px;
    color: #6920b0;
}
.service-heading{
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 150%;
}
.seervice-para{
    color: #555;
    font-size: 90%;
    margin-bottom: 20px;
}
.service-link{
    text-transform: uppercase;
    text-decoration: none;
    color: #ed07b7;
}
.service-box{
    padding: 1% 3%;
}
/*--------partner section----------*/
.partner-section{
    text-align: center;
    background-color: #f4f4f4;
}
.partner-logo{
    width: 65%;
    height: auto;
}
/*--------partner section----------*/
.testimonials-section{
    background-image:linear-gradient(rgba(0, 0, 0, .5), rgba(0,0,0, .8)), url(../css/img/testimonial-background.jpg);
    background-size: cover;
    text-align: center;
    color: #fff;
    background-attachment: fixed;
}
.section-heading{
    font-size: 250%;
    margin-bottom: 20px;
    margin-top: 150px;
}

.testimonial-box{
    text-align: left;
    margin-bottom: 50px;
}

blockquote{
    padding: 2%;;
    font-style: italic;
    line-height: 140%;
    position: relative;
    margin-top: 40px;
}
blockquote::before{
    content: "\201c";
    color: #fff;
    display: block;
    position: absolute;
    font-size: 250%;
    top: -5px;
    left: -5px;
   
}
cite{
    margin-top: 25px !important;
    display: block !important;
    font-size: 90%;
}
cite img{
    border-radius: 50%;
    height: 20%;
    vertical-align: middle;
    margin-right: 25px;
}
/*--------Pakeges section----------*/
.packages-section{
     text-align: center;
     background-color: #f4f4f4;
}
.packages-heading {
    color: #000;
    font-size: 200%;
    margin-bottom: 48px;
    margin-top: 100px;
}
.package-box{
    background-color: #fff;
    width: 90%;
    margin-bottom: 30px;
    box-shadow:  0 3px 2px #efefef;
    text-align: left;
}
.package-heading{
    font-size: 150%;
    color: #555;
    margin-bottom: 50px;
    font-weight: 400;
}
.package-price{
    color: #ed07b7;
    font-size: 300%; 
    margin-bottom: 10px; 
}
.package-price span{
    font-size: 30%;
    font-weight: 500;
}

.package-para{
    color: #555;
    font-size: 80%;
    margin-bottom: 10px;
}
.package-box ul{
    list-style: none;
}
.small-icon{
    color: #ED07B7;
    font-size: 120%;
    display: inline-block;
    margin-right: 10px;
    width: 30px;
}
.package-box ul li{
    color: #555;
    padding: 5px 0;

}
.package-box div{
    padding: 15px;
    border-bottom: 1px solid #efefef;
}
.package-box div:last-child{
    border: 0;
    text-align: center;
    padding-left: 0;
}
.package-box div:first-child{
    background-color: #fcfcfc;
}

/* Contact form here */
.contact-section{
    text-align: center;
}
.contact-heading{
    color: #000;
    margin-top: 150px;
    margin-bottom: 50px;
}

.contact-form {
    text-align: left;
    margin: 0 auto;
    color: #555;
    width: 80%;
}
input[type=text],
input[type=email],
textarea{
    width: 100%;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #ccc;
    background-color: #fff;
}
input[type=checkbox]{
    margin: 10 5px 10px 0;
}
input[type="submit"]{
    border: 0;
}
textarea{
    height: 100px;
}
.newsletter{
    margin: 0 5px;
}
*:focus{
    outline: none;
}